body{
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* overflow: hidden; */

}

#game-arena{
    background: #333;
    border: 5px solid #666;
    height: 450px;
    width: 450px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0,0.5);
}

#start-button{
    background: orangered;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

#score-board{
    font-size: large;
    font-weight: bold;
    color: black;
    margin: 10px 0;

}
.food{
    background: red;
    width: 20px;
    height: 20px;
    position: absolute;
    border: none;
    border-radius: 100%;

    animation: blink 0.8s ease-in-out infinite; /* 👈 add this line */
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.3; /* makes it look like it’s fading */
        transform: scale(0.85); /* small shrink for effect */
    }
}

.snake{
    width: 20px;
    height: 20px;
    background: chartreuse;
    border-radius: 5px;
    position: absolute;

}

