* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

h1 {
    margin-bottom: 15px;
}

h1,
h2 {
    text-align: center;
    color: white;
}

h3 {
    color: #4361ee;
    padding: 25px 50px;
}

label {
    padding: 0 50px;
    margin: 10px 0;
}

input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=password],
textarea,
input[type=date] {
    margin: 10px 50px 20px 50px;
    width: 700px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid;

}
.stateAndPin{
    display: flex;
    padding: 10px 50px;
    gap: 10px;
}
.state, .stpin{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.state label{
    padding: 0;
    display: block;
}
.stpin label{
    padding: 0;
}
.stpin input{
    width: 100%;
    margin: 0;
}
.gender{
    display: flex;
    gap: 15px;
    /* padding: 10px 50px; */
    margin: 10px 50px 20px 50px;
}


.heading {
    background-color: #4361ee;
    width: 800px;
    padding: 25px;
}

.container {
    margin: 0 auto;
    width: 800px;
    border: 1px solid;
    border-radius: 10px;
    overflow-x: hidden;
    margin-top: 30px;
}

.hobbies {
    margin-left: 50px;
    padding: 20px 0;

}

.hobbies span>label {
    padding: 0;
    margin-right: 15px;

}

.hobbies span>input[type="checkbox"] {
    margin-right: 5px;
}

.declaration {
    margin: 0 50px;
}

.declaration input[type=checkbox] {
    margin-right: 5px;
}

button[type=submit] {
    width: 48%;
    margin-left: 15px;
    padding: 10px;
    background-color: rgb(67, 97, 238);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
     transition: 0.3s;
}

.gender div label{
    padding: 0px;

}

button[type=reset] {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #333333;
    cursor: pointer;
    background-color: rgb(238, 238, 238);
     opacity: 0.9;
     transition: 0.3s;
}

.buttons {
    margin: 50px;

}

button[type=reset]:hover{
    
     background-color:rgb(204, 204, 204);
     opacity: 1

}

button[type=submit]:hover{
    background-color:  rgb(63, 56, 202);
     opacity: 1
}