<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <title>Login/Register UI</title>
</head>

<body>
    <div class="wrapper">
        <div class="buttons" style="display: none;">
            <input type="button" name="LoginButton" value="Login">
            <input type="button" name="RegisterButton" value="Register" id="lastbutton">
        </div>
        <div class="texts" style="display: none;">
            <h2>
                Welcome Back
            </h2>
            <p>
                Sign in to your account
            </p>
        </div>
        <div class="registration" style="display: none;">
            <div id="usernameText">
                <label for="username">Email or Username</label>
                <input type="text" id="username" name="username">
            </div>
            <div id="passwordText">
                <label for="password">Password</label>
                <input type="text" id="password" name="password">
            </div>
        </div>
        <div class="rememberme" style="display: none;">
            <div>
                <input type="checkbox" value="checkbox">
                <p id="lastpara">Remember me</p>
            </div>
            <div><a href="">Forgot password?</a></div>
        </div>
        <div class="signinbtn" style="display: none;">
            <input type="button" name="SinginButton" value="Singin">
        </div>



        <div class="buttons2">
            <input type="button" name="LoginButton" value="Login" id="lastbutton2">
            <input type="button" name="RegisterButton" value="Register" >
        </div>

        <div class="texts">
            <h2>
                Create Account 
            </h2>
            <p>
                Join us today 
            </p>
        </div>

        <div class="registration">
            <div id="usernameText2">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
            </div>

            <div id="Email">
                <label for="username">Email</label>
                <input type="text" id="Email" name="email">
            </div>

            <div id="passwordText2">
                <label for="password">Password</label>
                <input type="text" id="password" name="password">
            </div>
            <div class="divider"> 
            </div>
        </div>

        <div class="createAccount">
            <input type="button" name="createAccount" value="Singin">
        </div>


         










    </div>























</body>



</html>