<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
<header>
    <nav class="navbar">
        <div class="logo"> <span>%</span>
 Default</div>
        <div class="menu">
            <ul>
                <li class="active" style="    background: #030303;
    color: whitesmoke 
">Home</li>
                <li>About us</li>
                <li>Product</li>
                <li>Use Case</li>
                <li>Pricing </li>
            </ul>
        </div>
        <div class="loginButtons">button</div>
    </nav>
</header>




    <div>
        <h1>this id heading</h1>
        <p>ths is para</p>
        <span>this is a span tag</span>
    </div>















</body>
</html>