.price-filter-label-min{
    flex-basis: 50%;
}
.product-list-title{
    font-size: 3rem;
    margin: 40px 0;
    font-weight: normal;
}
.product-list-sidebar{
    margin-right: 100px;
    flex-basis: 20%;

}
.product-list-sidebar a{
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    color: black;
    border: 1px solid var(--light-blue);
    background-color: var(--sky-blue);
}
.product-list-sidebar a:hover{
    background-color: var(--dark-sky-blue);
    font-weight: bold;
}
#categoryList{
    margin-bottom: 1rem;
}
.sidebar-title{
    margin-bottom: 0.8rem;
}
.sidebar-search{
    margin-bottom: 1rem;
}
.clear-filter{
    margin-top: 1rem;
}
.price-filter .price-filter-select > div{
    margin-bottom: 0.8rem;
}
.product-list-box{
    flex-basis: 80%;
}
.product-image{
    height: 400px;
}
.product-list-box .product-item{
    width: 30%;
    margin-right: 2%;
    margin-bottom: 30px;
    box-shadow: 0 1px 5px var(--light-grey);
    /* height: 150px; */
}
.product-list-box .product-item img{
    max-width: 100%;
    max-height: 100%;
}
.product-list-box .product-item .product-name{
    color: black;
    padding: 0.75rem 0;
    font-size: 1.5rem;
}
.product-list-box .product-item .product-price{
    color: var(--jeans-blue);
    padding-bottom: 10px;
}

.product-list-box .product-item :nth-child(3n){
    margin-right: 0;
}
.product-list-box .product-item:hover{
    box-shadow: 0 3px 25px var(--light-grey);
    transition: 0.1s linear 0s;
}


